<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>903451266099-vrgk3n4081f29g32duaihsg3d209ed7i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.903451266099-vrgk3n4081f29g32duaihsg3d209ed7i</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>903451266099-7ntve34t1g0dd9g968tju5gu808bn7gg.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDHGjRFx_G9GVWRjvQZuJL3EssR-d9QSIo</string>
	<key>GCM_SENDER_ID</key>
	<string>903451266099</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatapp</string>
	<key>PROJECT_ID</key>
	<string>flutter-chatapp-8d1d8</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-chatapp-8d1d8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:903451266099:ios:f061541c5dcb58a940a746</string>
</dict>
</plist>